<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString, LuaNumber</string>
		<key>int_name</key>
		<string>text</string>
	</dict>
	<key>contentalignment</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>contentAlignment</string>
	</dict>
	<key>scalefactor</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>scaleFactor</string>
	</dict>
	<key>compressionlevel</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>compressionLevel</string>
	</dict>
	<key>maxsideoftheimage</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>maxSideOfTheImage</string>
	</dict>
	<key>base64</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>base64</string>
	</dict>
	<key>rawbytes</key>
	<dict>
		<key>ext_out_type</key>
		<string>RawBytes</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>RawBytes</string>
		<key>ext_in_type</key>
		<string>RawBytes</string>
		<key>int_name</key>
		<string>rawBytes</string>
	</dict>
	<key>rawBytes</key>
	<dict>
		<key>ext_out_type</key>
		<string>RawBytes</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>RawBytes</string>
		<key>ext_in_type</key>
		<string>RawBytes</string>
		<key>int_name</key>
		<string>rawBytes</string>
	</dict>
	<key>oncapture</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>LuaCallBack</string>
		<key>int_name</key>
		<string>onCapture</string>
	</dict>
	<key>oncapturefailed</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>LuaCallBack</string>
		<key>int_name</key>
		<string>onCaptureFailed</string>
	</dict>
	<key>onimagesavefailed</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>LuaCallBack</string>
		<key>int_name</key>
		<string>onImageSaveFailed</string>
	</dict>
	<key>enableoverlay</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>enableOverlay</string>
	</dict>
	<key>nativeuserinterface</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>nativeUserInterface</string>
	</dict>
	<key>overlayconfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>Luatable</string>
		<key>int_name</key>
		<string>overlayConfig</string>
	</dict>
	<key>accessmode</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>accessMode</string>
	</dict>
	<key>imageformat</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>imageFormat</string>
	</dict>
	<key>captureorientation</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>captureOrientation</string>
	</dict>
	<key>cameraOptions</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDcitionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>cameraoptions</string>
	</dict>
	<key>WidgetConfigKeyMappings</key>
	<dict>
		<key>flashMode</key>
		<string>flashmode</string>
		<key>hideControlBar</key>
		<string>hidecontrolbar</string>
		<key>overlayForm</key>
		<string>overlayform</string>
		<key>referenceImageToCrop</key>
		<string>referenceimagetocrop</string>
		<key>tapAnywhere</key>
		<string>tapanywhere</string>
	</dict>
</dict>
</plist>
