<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>widgetID</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
	</dict>
	<key>alignment</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>widgetAlignment</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
	</dict>
	<key>hexpand</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>hExpand</string>
	</dict>
	<key>vexpand</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>vExpand</string>
	</dict>
	<key>isvisible</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>visible</string>
	</dict>
	<key>skin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>skinIdentifier</string>
	</dict>
	<key>focusskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>focusSkinID</string>
	</dict>
	<key>containerweight</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>containerWeight</string>
	</dict>
	<key>orientation</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>orientation</string>
	</dict>
	<key>margin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_name</key>
		<string>margin</string>
	</dict>
	<key>padding</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_name</key>
		<string>padding</string>
	</dict>
	<key>widgetalignment</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>widgetAlignment</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
	</dict>
	<key>widgetalign</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>widgetAlignment</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
	</dict>
	<key>margininpixel</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>marginInPixels</string>
	</dict>
	<key>paddinginpixel</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>paddingInPixels</string>
	</dict>
	<key>visible</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>visible</string>
	</dict>
	<key>enable</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>enabled</string>
	</dict>
	<key>info</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>info</string>
	</dict>
	<key>accessibilityconfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>accessibilityConfig</string>
	</dict>
</dict>
</plist>
