<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>headerskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>headerSkin</string>
	</dict>
	<key>rownormalskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>rowNormalSkin</string>
	</dict>
	<key>rowfocusskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>rowFocusSkin</string>
	</dict>
	<key>rowalternateskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>rowAlternateSkin</string>
	</dict>
	<key>data</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>data</string>
	</dict>
	<key>columnheadersconfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>columnHeadersConfig</string>
	</dict>
	<key>showcolumnheaders</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_name</key>
		<string>showColumnHeaders</string>
	</dict>
	<key>selectedindex</key>
	<dict>
		<key>ext_acc_type</key>
		<string>Read</string>
		<key>ext_out_type</key>
		<string>LuaIndex</string>
		<key>int_type</key>
		<string>NativeIndex</string>
		<key>ext_in_type</key>
		<string>LuaIndex</string>
		<key>int_name</key>
		<string>selectedIndex</string>
	</dict>
	<key>selecteditem</key>
	<dict>
		<key>ext_acc_type</key>
		<string>Read</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>selectedItem</string>
	</dict>
	<key>selectedindices</key>
	<dict>
		<key>ext_acc_type</key>
		<string>Read</string>
		<key>ext_out_type</key>
		<string>LuaIndexArray</string>
		<key>int_type</key>
		<string>NativeIndexArray</string>
		<key>ext_in_type</key>
		<string>LuaIndexArray</string>
		<key>int_name</key>
		<string>selectedIndices</string>
	</dict>
	<key>selecteditems</key>
	<dict>
		<key>ext_acc_type</key>
		<string>Read</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>selectedItems</string>
	</dict>
	<key>ismultiselect</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>isMultiSelect</string>
	</dict>
	<key>rowcount</key>
	<dict>
		<key>ext_acc_type</key>
		<string>Read</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>rowCount</string>
	</dict>
	<key>gridlinecolor</key>
	<dict>
		<key>ext_acc_type</key>
		<string>Write</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>gridlineColor</string>
	</dict>
	<key>onrowselected</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_name</key>
		<string>onRowSelected</string>
	</dict>
	<key>WidgetConfigKeyMappings</key>
	<dict>
		<key>columnID</key>
		<string>columnid</string>
		<key>columnType</key>
		<string>columntype</string>
		<key>columnHeaderText</key>
		<string>columnheadertext</string>
		<key>columnHeaderTemplate</key>
		<string>columnheadertemplate</string>
		<key>columnDataTemplate</key>
		<string>columndatatemplate</string>
		<key>columnWidthInPercentage</key>
		<string>columnwidthinpercentage</string>
		<key>isColumnSortable</key>
		<string>iscolumnsortable</string>
		<key>columnOnClick</key>
		<string>columnonclick</string>
		<key>columnContentAlignment</key>
		<string>columncontentalignment</string>
	</dict>
</dict>
</plist>
