<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>galleryData</string>
	</dict>
	<key>selectedindex</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaIndex</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NativeIndex</string>
		<key>ext_in_type</key>
		<string>LuaIndex</string>
		<key>int_name</key>
		<string>focusedIndex</string>
	</dict>
	<key>selecteditem</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>focusedItem</string>
	</dict>
	<key>imagewhiledownloading</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>imageWhenDownloading</string>
	</dict>
	<key>imagewhenfailed</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>imageWhenFailed</string>
	</dict>
	<key>spacebetweenimages</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>spaceBetweenImages</string>
	</dict>
	<key>showscrollbars</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_name</key>
		<string>showScrollBars</string>
	</dict>
	<key>referencewidth</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>referenceWidth</string>
	</dict>
	<key>referenceheight</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>referenceHeight</string>
	</dict>
	<key>imagescalemode</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>imageScaleMode</string>
	</dict>
	<key>arrowconfig</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>arrowConfig</string>
	</dict>
	<key>showarrows</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_name</key>
		<string>showArrows</string>
	</dict>
	<key>onselection</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_name</key>
		<string>onSelection</string>
	</dict>
	<key>viewtype</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>viewType</string>
	</dict>
	<key>focusskin</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>focusSkinId</string>
	</dict>
	<key>WidgetConfigKeyMappings</key>
	<dict>
		<key>coverflowConfig</key>
		<string>coverflowconfig</string>
		<key>coverflowAngle</key>
		<string>coverflowangle</string>
		<key>coverflowDepth</key>
		<string>coverflowdepth</string>
		<key>slotviewConfig</key>
		<string>slotviewconfig</string>
		<key>flingVelocity</key>
		<string>flingvelocity</string>
		<key>flipInterval</key>
		<string>flipinterval</string>
		<key>scrollDistance</key>
		<string>scrolldistance</string>
		<key>stripviewConfig</key>
		<string>stripviewconfig</string>
		<key>enableScrollBounce</key>
		<string>enablescrollbounce</string>
		<key>leftArrowImage</key>
		<string>leftarrowimage</string>
		<key>leftArrowFocusImage</key>
		<string>leftarrowfocusimage</string>
		<key>rightArrowImage</key>
		<string>rightarrowimage</string>
		<key>rightArrowFocusImage</key>
		<string>rightarrowfocusimage</string>
	</dict>
	<key>iscircular</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_name</key>
		<string>isCircular</string>
	</dict>
</dict>
</plist>
