<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provider</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>provider</string>
	</dict>
	<key>mapKey</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>mapKey</string>
	</dict>
	<key>defaultpinimage</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>defaultPinImage</string>
	</dict>
	<key>onselection</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>LuaCallBack</string>
		<key>int_name</key>
		<string>onSelection</string>
	</dict>
	<key>onpinclick</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>LuaCallBack</string>
		<key>int_name</key>
		<string>onPinClick</string>
	</dict>
	<key>locationData</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>locationData</string>
	</dict>
	<key>locationdata</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>locationData</string>
	</dict>
	<key>calloutoffset</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>calloutOffset</string>
	</dict>
	<key>screenLevelWidget</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_name</key>
		<string>screenLevelWidget</string>
	</dict>
	<key>screenlevelwidget</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_name</key>
		<string>screenLevelWidget</string>
	</dict>
	<key>zoomLevel</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>zoomLevel</string>
	</dict>
	<key>zoom</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>zoomLevel</string>
	</dict>
	<key>zoomlevel</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>zoomLevel</string>
	</dict>
	<key>mode</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>mode</string>
	</dict>
	<key>showcurrentlocation</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>currentLocationType</string>
	</dict>
	<key>callouttemplate</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaWidget</string>
		<key>int_type</key>
		<string>NativeWidget</string>
		<key>ext_in_type</key>
		<string>LuaWidget</string>
		<key>int_name</key>
		<string>calloutTemplate</string>
	</dict>
	<key>WidgetConfigKeyMappings</key>
	<dict>
		<key>lat</key>
		<string>lat</string>
		<key>lon</key>
		<string>lon</string>
		<key>name</key>
		<string>name</string>
		<key>desc</key>
		<string>desc</string>
		<key>image</key>
		<string>image</string>
		<key>showCallOut</key>
		<string>showcallout</string>
		<key>meta</key>
		<string>meta</string>
		<key>color</key>
		<string>color</string>
		<key>label</key>
		<string>label</string>
		<key>calloutData</key>
		<string>calloutdata</string>
		<key>calloutOffset</key>
		<string>calloutoffset</string>
		<key>pinOffset</key>
		<string>pinoffset</string>
	</dict>
	<key>widgetdatamapforcallout</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaDictionary</string>
		<key>int_name</key>
		<string>widgetDataMapForCallout</string>
	</dict>
	<key>calloutwidth</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>calloutWidthPercentage</string>
	</dict>
	<key>onboundschanged</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>LuaCallBack</string>
		<key>int_name</key>
		<string>onBoundsChanged</string>
	</dict>
</dict>
</plist>
