<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>widgetdatamap</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>widgetDataMap</string>
	</dict>
	<key>skin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>rowSkinID</string>
	</dict>
	<key>focusskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>rowFocusSkinID</string>
	</dict>
	<key>secskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>sectionSkinID</string>
	</dict>
	<key>askin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>alternateRowSkinID</string>
	</dict>
	<key>pageskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>pageSkinID</string>
	</dict>
	<key>rowtemplate</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaWidget</string>
		<key>int_type</key>
		<string>NativeWidget</string>
		<key>ext_in_type</key>
		<string>LuaWidget</string>
		<key>int_name</key>
		<string>rowTemplate</string>
	</dict>
	<key>septhickness</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>seperatorThickness</string>
	</dict>
	<key>sepcolor</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>seperatorColor</string>
	</dict>
	<key>view</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>oldViewType</string>
	</dict>
	<key>onclick</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>onRowClick</string>
	</dict>
	<key>screenlevelwidget</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>screenLevelWidget</string>
	</dict>
	<key>groupcells</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>groupCells</string>
	</dict>
	<key>retainselection</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>retainSelection</string>
	</dict>
	<key>ispageindicatorneeded</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>needPageIndicator</string>
	</dict>
	<key>pageondotimage</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>pageOnDotImage</string>
	</dict>
	<key>pageoffdotimage</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>pageOffDotImage</string>
	</dict>
	<key>onswipe</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>onSwipe</string>
	</dict>
	<key>ongesture</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>onSwipe</string>
	</dict>
	<key>behavior</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>oldSelectionBehavior</string>
	</dict>
	<key>selectionindicator</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>selectionIndicator</string>
	</dict>
	<key>selectimage</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>selectImage</string>
	</dict>
	<key>unselectimage</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>unselectImage</string>
	</dict>
	<key>selectedindices</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaIndexArray</string>
		<key>ext_in_type</key>
		<string>LuaIndexArray</string>
		<key>int_type</key>
		<string>NativeIndexArray</string>
		<key>int_name</key>
		<string>oldSelectedIndices</string>
	</dict>
	<key>indicator</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>oldIndicatorType</string>
	</dict>
	<key>enabledictionary</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>enableDictionary</string>
	</dict>
	<key>needprogressindicator</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>needProgressIndicator</string>
	</dict>
	<key>progressindicatorcolor</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>oldProgressIndicatorColor</string>
	</dict>
	<key>bounces</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>bounces</string>
	</dict>
	<key>searchby</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>searchBy</string>
	</dict>
	<key>searchcriteria</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>oldSearchCriteria</string>
	</dict>
	<key>editstyle</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>oldEditStyle</string>
	</dict>
	<key>focusedindex</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaIndex</string>
		<key>ext_in_type</key>
		<string>LuaIndex</string>
		<key>int_type</key>
		<string>NativeIndex</string>
		<key>int_name</key>
		<string>oldFocusedIndex</string>
	</dict>
	<key>focuseditem</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>focusedItem</string>
	</dict>
	<key>length</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>none</string>
	</dict>
	<key>needssectionheader</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>needsSectionHeader</string>
	</dict>
	<key>onrowselect</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>preshow</string>
	</dict>
	<key>onselect</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>onRowSelect</string>
	</dict>
	<key>oninsertclick</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>onInsertClick</string>
	</dict>
	<key>ondeleteclick</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>onDeleteClick</string>
	</dict>
	<key>editable</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>editable</string>
	</dict>
	<key>retainsheaderfooter</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>retainsHeaderFooter</string>
	</dict>
	<key>WidgetConfigKeyMappings</key>
	<dict>
		<key>imageIdentifier</key>
		<string>imageidentifier</string>
		<key>onReachingBegining</key>
		<string>onreachingbegining</string>
		<key>onReachingEnd</key>
		<string>onreachingend</string>
		<key>onPull</key>
		<string>onpull</string>
		<key>onPush</key>
		<string>onpush</string>
		<key>selectedStateImage</key>
		<string>selectedstateimage</string>
		<key>unselectedStateImage</key>
		<string>unselectedstateimage</string>
		<key>editMode</key>
		<string>editmode</string>
		<key>metaInfo</key>
		<string>metainfo</string>
		<key>skin</key>
		<string>skin</string>
		<key>clickable</key>
		<string>clickable</string>
	</dict>
</dict>
</plist>
