<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerheightreference</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>containerHeightReference</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
	</dict>
	<key>containerheight</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>containerHeight</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
	</dict>
	<key>popupstyle</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>popupStyle</string>
	</dict>
	<key>title</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>title</string>
	</dict>
	<key>headers</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>int_name</key>
		<string>globalheaders</string>
	</dict>
	<key>footers</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>int_name</key>
		<string>globalfooters</string>
	</dict>
	<key>init</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>initPopup</string>
	</dict>
	<key>addwidgets</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>addWidgets</string>
	</dict>
	<key>transparencybehindthepopup</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>transperancyBehindThePopup</string>
	</dict>
	<key>onhide</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>onhide</string>
	</dict>
	<key>layoutalignment</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>layoutAlighment</string>
	</dict>
	<key>footeroverlap</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber,LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>footerOverlap</string>
	</dict>
	<key>headeroverlap</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber,LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>headerOverlap</string>
	</dict>
	<key>intransitionconfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>inTransitionConfig</string>
	</dict>
	<key>outtransitionconfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>outTransitionConfig</string>
	</dict>
	<key>inputaccessoryviewtype</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>inputAccessoryViewType</string>
	</dict>
	<key>ismodal</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>isModal</string>
	</dict>
	<key>extendtop</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>extendTop</string>
	</dict>
	<key>container_weight</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>containerWeight</string>
	</dict>
	<key>FormTransparencyDuringModalPopup</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>transperancyBehindThePopup</string>
	</dict>
	<key>WidgetConfigKeyMappings</key>
	<dict>
		<key>equalTransitionSpeed</key>
		<string>equaltransitionspeed</string>
		<key>transitionDuration</key>
		<string>transitionduration</string>
		<key>transitionCurve</key>
		<string>transitioncurve</string>
		<key>transitionEffect</key>
		<string>transitioneffect</string>
		<key>transitionDirection</key>
		<string>transitiondirection</string>
	</dict>
	<key>leftbuttonaccessibilityconfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>leftButtonAccessibilityConfig</string>
	</dict>
	<key>rightbuttonaccessibilityconfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>rightButtonAccessibilityConfig</string>
	</dict>
</dict>
</plist>
