<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>linkskin</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>linkSkin</string>
	</dict>
	<key>text</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString,LuaNumber</string>
		<key>int_name</key>
		<string>text</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>wrapping</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>wrapping</string>
	</dict>
	<key>contentalignment</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>contentAlignment</string>
	</dict>
	<key>onclick</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>LuaCallBack</string>
		<key>int_name</key>
		<string>onClick</string>
	</dict>
</dict>
</plist>
