<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>position</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>position</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
	</dict>
	<key>layoutalignment</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>widgetDirection</string>
	</dict>
	<key>percent</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>percent</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
	</dict>
	<key>showscrollbars</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>shouldShowScrollbars</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
	</dict>
	<key>enablescrollbypage</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>shouldScrollByPage</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
	</dict>
	<key>scrolldirection</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>scrollDirection</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
	</dict>
	<key>containerheight</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>containerHeight</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
	</dict>
	<key>containerheightreference</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>containerHeightReference</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
	</dict>
	<key>scrollbarvisible</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>shouldShowScrollbars</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
	</dict>
	<key>pagingenabled</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>shouldScrollByPage</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
	</dict>
	<key>bgImage</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString,LuaNumber</string>
		<key>int_name</key>
		<string>bgImage</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>WidgetConfigKeyMappings</key>
	<dict>
		<key>onReachingBegining</key>
		<string>onreachingbegining</string>
		<key>onReachingEnd</key>
		<string>onreachingend</string>
		<key>onPull</key>
		<string>onpull</string>
		<key>onPush</key>
		<string>onpush</string>
	</dict>
	<key>scrollingevents</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>int_name</key>
		<string>scrollingEvents</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
	</dict>
	<key>footeroverlap</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber,LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>footerOverlap</string>
	</dict>
	<key>headeroverlap</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber,LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>headerOverlap</string>
	</dict>
</dict>
</plist>
