<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>widgetdatamap</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>widgetDataMap</string>
	</dict>
	<key>widgetskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>widgetSkinID</string>
	</dict>
	<key>rowskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>rowSkinID</string>
	</dict>
	<key>pageskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>pageSkinID</string>
	</dict>
	<key>rowfocusskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>rowFocusSkinID</string>
	</dict>
	<key>sectionheaderskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>sectionSkinID</string>
	</dict>
	<key>alternaterowskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>alternateRowSkinID</string>
	</dict>
	<key>rowtemplate</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaWidget</string>
		<key>int_type</key>
		<string>NativeWidget</string>
		<key>ext_in_type</key>
		<string>LuaWidget</string>
		<key>int_name</key>
		<string>rowTemplate</string>
	</dict>
	<key>sectionheadertemplate</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaWidget</string>
		<key>int_type</key>
		<string>NativeWidget</string>
		<key>ext_in_type</key>
		<string>LuaWidget</string>
		<key>int_name</key>
		<string>sectionTemplate</string>
	</dict>
	<key>data</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>int_name</key>
		<string>rawData</string>
	</dict>
	<key>separatorrequired</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>seperatorRequired</string>
	</dict>
	<key>seperatorthickness</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>seperatorThickness</string>
	</dict>
	<key>separatorcolor</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>seperatorColor</string>
	</dict>
	<key>viewtype</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>viewType</string>
	</dict>
	<key>onrowclick</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>onRowClick</string>
	</dict>
	<key>screenlevelwidget</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>screenLevelWidget</string>
	</dict>
	<key>groupcells</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>groupCells</string>
	</dict>
	<key>showscrollbars</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>showScrollBars</string>
	</dict>
	<key>retainselection</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>retainSelection</string>
	</dict>
	<key>needpageindicator</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>needPageIndicator</string>
	</dict>
	<key>pageondotimage</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>pageOnDotImage</string>
	</dict>
	<key>pageoffdotimage</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>pageOffDotImage</string>
	</dict>
	<key>onswipe</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>onSwipe</string>
	</dict>
	<key>scrollingevents</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>scrollingEvents</string>
	</dict>
	<key>selectionbehavior</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>selectionBehavior</string>
	</dict>
	<key>selectionbehaviorconfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>selectionBehaviorConfig</string>
	</dict>
	<key>selectedindex</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaIndexArray</string>
		<key>ext_in_type</key>
		<string>LuaIndexArray</string>
		<key>int_type</key>
		<string>NativeIndexArray</string>
		<key>int_name</key>
		<string>selectedIndex</string>
	</dict>
	<key>selectedrowindex</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaIndexArray</string>
		<key>ext_in_type</key>
		<string>LuaIndexArray</string>
		<key>int_type</key>
		<string>NativeIndexArray</string>
		<key>int_name</key>
		<string>selectedRowIndex</string>
	</dict>
	<key>selecteditems</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>selectedItems</string>
	</dict>
	<key>selectedindices</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaIndexArray</string>
		<key>ext_in_type</key>
		<string>LuaIndexArray</string>
		<key>int_type</key>
		<string>NativeIndexArray</string>
		<key>int_name</key>
		<string>selectedIndices</string>
	</dict>
	<key>selectedrowindices</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaIndexArray</string>
		<key>ext_in_type</key>
		<string>LuaIndexArray</string>
		<key>int_type</key>
		<string>NativeIndexArray</string>
		<key>int_name</key>
		<string>selectedRowIndices</string>
	</dict>
	<key>indicator</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>indicatorType</string>
	</dict>
	<key>enabledictionary</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>enableDictionary</string>
	</dict>
	<key>showprogressindicator</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>showProgressIndicator</string>
	</dict>
	<key>progressindicatorcolor</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>progressIndicatorColor</string>
	</dict>
	<key>bounces</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>bounces</string>
	</dict>
	<key>searchby</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>searchBy</string>
	</dict>
	<key>searchcriteria</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>searchCriteria</string>
	</dict>
	<key>editstyle</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>editStyle</string>
	</dict>
	<key>onediting</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>onEditing</string>
	</dict>
	<key>focusedindex</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaIndexArray</string>
		<key>ext_in_type</key>
		<string>LuaIndexArray</string>
		<key>int_type</key>
		<string>NativeIndexArray</string>
		<key>int_name</key>
		<string>focusedIndex</string>
	</dict>
	<key>focuseditem</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_name</key>
		<string>focusedItem</string>
	</dict>
	<key>length</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>none</string>
	</dict>
	<key>needssectionheader</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>showProgressIndicator</string>
	</dict>
	<key>onrowselect</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>onRowSelect</string>
	</dict>
	<key>onselect</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallback</string>
		<key>ext_in_type</key>
		<string>LuaCallback</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>int_name</key>
		<string>onRowSelect</string>
	</dict>
	<key>WidgetConfigKeyMappings</key>
	<dict>
		<key>onReachingBegining</key>
		<string>onreachingbegining</string>
		<key>onReachingEnd</key>
		<string>onreachingend</string>
		<key>onPull</key>
		<string>onpull</string>
		<key>onPush</key>
		<string>onpush</string>
		<key>imageIdentifier</key>
		<string>imageidentifier</string>
		<key>selectedStateImage</key>
		<string>selectedstateimage</string>
		<key>unselectedStateImage</key>
		<string>unselectedstateimage</string>
		<key>editMode</key>
		<string>editmode</string>
		<key>metaInfo</key>
		<string>metainfo</string>
		<key>skin</key>
		<string>skin</string>
		<key>clickable</key>
		<string>clickable</string>
		<key>rowIndex</key>
		<string>rowindex</string>
		<key>sectionIndex</key>
		<string>sectionindex</string>
		<key>widgetInfo</key>
		<string>widgetinfo</string>
		<key>sectionTitle</key>
		<string>sectiontitle</string>
	</dict>
	<key>fixedrowheight</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>isRowHeightFixed</string>
	</dict>
	<key>iscircular</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_name</key>
		<string>isCircular</string>
	</dict>
</dict>
</plist>
