<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>thumbimage</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>thumbImage</string>
	</dict>
	<key>focusthumbimage</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>focusThumbImage</string>
	</dict>
	<key>minvalueimage</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>minimumValueImage</string>
	</dict>
	<key>maxvalueimage</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>maximumValueImage</string>
	</dict>
	<key>onslide</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>LuaCallBack</string>
		<key>int_name</key>
		<string>onSlideCallBack</string>
	</dict>
	<key>onselection</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>LuaCallBack</string>
		<key>int_name</key>
		<string>onSelectCallBack</string>
	</dict>
	<key>min</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>minValue</string>
	</dict>
	<key>max</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>maxValue</string>
	</dict>
	<key>step</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>step</string>
	</dict>
	<key>selectedvalue</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>selectedValue</string>
	</dict>
	<key>maxcap</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>maxCap</string>
	</dict>
	<key>leftskin</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>leftSkin</string>
	</dict>
	<key>rightskin</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>rightSkin</string>
	</dict>
</dict>
</plist>
