<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>activeSkin</string>
	</dict>
	<key>activefocusskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>activeFocusSkin</string>
	</dict>
	<key>inactiveskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_name</key>
		<string>inactiveSkin</string>
	</dict>
	<key>viewtype</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_name</key>
		<string>viewType</string>
	</dict>
	<key>ontabclick</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>LuaCallBack</string>
		<key>int_name</key>
		<string>onTabClick</string>
	</dict>
	<key>viewconfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>LuaDictionary</string>
		<key>int_name</key>
		<string>viewConfig</string>
	</dict>
	<key>screenlevelwidget</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_name</key>
		<string>screenLevelWidget</string>
	</dict>
	<key>activetabs</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaIndexArray</string>
		<key>ext_in_type</key>
		<string>LuaIndexArray</string>
		<key>int_type</key>
		<string>NativeIndexArray</string>
		<key>int_name</key>
		<string>activeTabs</string>
	</dict>
	<key>WidgetConfigKeyMappings</key>
	<dict>
		<key>collapsibleViewConfig</key>
		<string>collapsibleviewconfig</string>
		<key>onClick</key>
		<string>onclick</string>
		<key>expandedImage</key>
		<string>expandedimage</string>
		<key>collapsedImage</key>
		<string>collapsedimage</string>
		<key>imagePosition</key>
		<string>imageposition</string>
		<key>tabNameAlignment</key>
		<string>tabnamealignment</string>
		<key>toggleTabs</key>
		<string>toggletabs</string>
		<key>pageViewConfig</key>
		<string>pageviewconfig</string>
		<key>needPageIndicator</key>
		<string>needpageindicator</string>
		<key>pageOnDotImage</key>
		<string>pageondotimage</string>
		<key>pageOffDotImage</key>
		<string>pageoffdotimage</string>
		<key>panoramaViewConfig</key>
		<string>panoramaviewconfig</string>
		<key>panoramaTitle</key>
		<string>panoramatitle</string>
		<key>panoramaTitleImage</key>
		<string>panoramatitleimage</string>
		<key>panoramaImage</key>
		<string>panoramaimage</string>
	</dict>
	<key>pageskin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
		<key>ext_in_type</key>
		<string>LuaTable,LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>pageSkinID</string>
	</dict>
	<key>showprogressindicator</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>showProgressIndicator</string>
	</dict>
</dict>
</plist>
