<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>htmlstring</key>
	<dict>
		<key>int_name</key>
		<string>htmlString</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
	</dict>
	<key>backgroundimage</key>
	<dict>
		<key>int_name</key>
		<string>backgroundImageName</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
	</dict>
	<key>requesturlconfig</key>
	<dict>
		<key>int_name</key>
		<string>requestURLConfig</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
	</dict>
	<key>onfailure</key>
	<dict>
		<key>int_name</key>
		<string>onfailure</string>
		<key>ext_in_type</key>
		<string>LuaCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaCallBack</string>
	</dict>
	<key>screenlevelwidget</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_name</key>
		<string>screenLevelWidget</string>
	</dict>
	<key>enablezoom</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_name</key>
		<string>enableZoomAndPan</string>
	</dict>
	<key>detecttelnumber</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>LuaBoolean</string>
		<key>int_name</key>
		<string>phoneNumbersToBeDetected</string>
	</dict>
	<key>onsuccess</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>LuaCallBack</string>
		<key>int_name</key>
		<string>onsuccess</string>
	</dict>
	<key>url</key>
	<dict>
		<key>int_name</key>
		<string>url</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
	</dict>
	<key>method</key>
	<dict>
		<key>int_name</key>
		<string>method</string>
		<key>ext_in_type</key>
		<string>LuaString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaString</string>
	</dict>
	<key>data</key>
	<dict>
		<key>int_name</key>
		<string>data</string>
		<key>ext_in_type</key>
		<string>LuaTable</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>LuaTable</string>
	</dict>
	<key>WidgetConfigKeyMappings</key>
	<dict>
		<key>URL</key>
		<string>url</string>
		<key>requestMethod</key>
		<string>requestmethod</string>
		<key>requestData</key>
		<string>requestdata</string>
	</dict>
	<key>handlerequest</key>
	<dict>
		<key>ext_out_type</key>
		<string>LuaCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>LuaCallBack</string>
		<key>int_name</key>
		<string>handleRequest</string>
	</dict>
	<key>bounces</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>bounces</string>
	</dict>
</dict>
</plist>
