<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>message</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>message</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
	</dict>
	<key>alertType</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>alertType</string>
	</dict>
	<key>alertTitle</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>title</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
	</dict>
	<key>yesLabel</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>yesLabel</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
	</dict>
	<key>noLabel</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>noLabel</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
	</dict>
	<key>alertIcon</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>alertIcon</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
	</dict>
	<key>alertHandler</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>alertHandler</string>
	</dict>
</dict>
</plist>
