<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>date</string>
	</dict>
	<key>day</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>day</string>
	</dict>
	<key>month</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>month</string>
	</dict>
	<key>year</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>year</string>
	</dict>
	<key>hour</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>hour</string>
	</dict>
	<key>minutes</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>minutes</string>
	</dict>
	<key>seconds</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>seconds</string>
	</dict>
	<key>dateComponents</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSArray</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>dateComponents</string>
	</dict>
	<key>dateFormat</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>dateFormat</string>
	</dict>
	<key>format</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>dateFormat</string>
	</dict>
	<key>wheelBackgroundColor</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>wheelBackgroundColor</string>
	</dict>
	<key>formattedDate</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>formattedDate</string>
	</dict>
	<key>validStartDate</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSArray</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>validStartDate</string>
	</dict>
	<key>validEndDate</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSArray</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>validEndDate</string>
	</dict>
	<key>viewType</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>viewType</string>
	</dict>
	<key>viewConfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>viewConfig</string>
	</dict>
	<key>calendarIcon</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>calendarIcon</string>
	</dict>
	<key>placeholder</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>placeholder</string>
	</dict>
	<key>i18nConfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>i18nConfig</string>
	</dict>
	<key>onSelection</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>int_type</key>
		<string>Callback</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onSelection</string>
	</dict>
	<key>contentAlignment</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>contentAlignment</string>
	</dict>
	<key>mode</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>mode</string>
	</dict>
	<key>hideMonthsHeader</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean,JSString</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>hideMonthsHeader</string>
	</dict>
	<key>hideDaysHeader</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean,JSString</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>hideDaysHeader</string>
	</dict>
	<key>displayedMonth</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSArray</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>displayedMonth</string>
	</dict>
	<key>dayTextAlignmentInCell</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>dayTextAlignmentInCell</string>
	</dict>
	<key>fixedHeight</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>fixedHeight</string>
	</dict>
	<key>containerHeightReference</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>containerHeightReference</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
	</dict>
	<key>cellTemplate</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSWidget</string>
		<key>int_type</key>
		<string>NativeWidget</string>
		<key>ext_in_type</key>
		<string>JSWidget</string>
		<key>int_name</key>
		<string>cellTemplate</string>
	</dict>
	<key>widgetDataMapForCell</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>widgetDataMapForCell</string>
	</dict>
	<key>WidgetConfigKeyMappings</key>
	<dict>
		<key>gridSkin</key>
		<string>gridSkin</string>
		<key>gridConfig</key>
		<string>gridConfig</string>
		<key>gridCellSkin</key>
		<string>gridCellSkin</string>
		<key>gridCellFocusSkin</key>
		<string>gridCellFocusSkin</string>
		<key>gridCellSelectedSkin</key>
		<string>gridCellSelectedSkin</string>
		<key>gridCellTodaySkin</key>
		<string>gridCellTodaySkin</string>
		<key>gridCellWeekendSkin</key>
		<string>gridCellWeekendSkin</string>
		<key>gridCellInactiveDaysSkin</key>
		<string>gridCellInactiveDaysSkin</string>
		<key>leftNavigationImage</key>
		<string>leftNavigationImage</string>
		<key>rightNavigationImage</key>
		<string>rightNavigationImage</string>
		<key>allowWeekendSelectable</key>
		<string>allowWeekendSelectable</string>
		<key>doneButtonSkin</key>
		<string>doneButtonSkin</string>
		<key>cancelButtonSkin</key>
		<string>cancelButtonSkin</string>
		<key>monthSkin</key>
		<string>monthSkin</string>
		<key>daySkin</key>
		<string>daySkin</string>
	</dict>
</dict>
</plist>
