<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartInfo</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>chartInfo</string>
	</dict>
	<key>widgetHeight</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>widgetHeight</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
	</dict>
	<key>evtCallBack</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>evtCallBack</string>
	</dict>
	<key>chartData</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>chartData</string>
	</dict>
	<key>chartProperties</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>chartProperties</string>
		<key>default_property</key>
		<true/>
	</dict>
</dict>
</plist>
