<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extendToBounds</key>
	<dict>
		<key>int_name</key>
		<string>extendToBounds</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
	</dict>
	<key>type</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>formType</string>
	</dict>
	<key>title</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>title</string>
	</dict>
	<key>needAppMenu</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>needAppLevelMenu</string>
	</dict>
	<key>extendTop</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>extendTop</string>
	</dict>
	<key>extendBottom</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>extendBottom</string>
	</dict>
	<key>enabledForIdleTimeout</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>enabledforidletimeout</string>
	</dict>
	<key>headers</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSArray</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>globalheaders</string>
	</dict>
	<key>footers</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSArray</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>globalfooters</string>
	</dict>
	<key>addWidgets</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>addWidgets</string>
	</dict>
	<key>init</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>initForm</string>
	</dict>
	<key>preShow</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>preshow</string>
	</dict>
	<key>postShow</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>postshow</string>
	</dict>
	<key>onDestroy</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onDestroy</string>
	</dict>
	<key>onHide</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onhide</string>
	</dict>
	<key>onOrientationChange</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onorientationchange</string>
	</dict>
	<key>percent</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>percent</string>
	</dict>
	<key>containerWeight</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>containerWt</string>
	</dict>
	<key>layoutAlignment</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>layoutAlighment</string>
	</dict>
	<key>position</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>position</string>
	</dict>
	<key>fixedHeightRow</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>fixedHeightRow</string>
	</dict>
	<key>displayOrientation</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>orientationmode</string>
	</dict>
	<key>orientationmode</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>LuaNumber</string>
		<key>ext_in_type</key>
		<string>LuaNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>orientationmode</string>
	</dict>
	<key>footerOverlap</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean,JSNumber</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>footerOverlap</string>
	</dict>
	<key>headerOverlap</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean, JSNumber</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>headerOverlap</string>
	</dict>
	<key>menuRenderer</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSString,JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>menuRenderer</string>
	</dict>
	<key>needsIndicatorDuringPostShow</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>NeedsIndicatorDuringPostShow</string>
	</dict>
	<key>translucentTitleBar</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>translucenttitlebar</string>
	</dict>
	<key>titleBar</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>titleBar</string>
	</dict>
	<key>formTransparencyDuringPostShow</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>FormTransparencyDuringPostShow</string>
	</dict>
	<key>inTransitionConfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>inTransitionConfig</string>
	</dict>
	<key>outTransitionConfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>outTransitionConfig</string>
	</dict>
	<key>inputAccessoryViewType</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>inputAccessoryViewType</string>
	</dict>
	<key>titleBarConfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>titleBarConfig</string>
	</dict>
	<key>scrollingEvents</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>scrollingEvents</string>
	</dict>
	<key>retainScrollPosition</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>retainScrollPosition</string>
	</dict>
	<key>titleBarSkin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>titleBarSkin</string>
	</dict>
	<key>titleBarBackGroundImage</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>titleBarBackGroundImage</string>
	</dict>
	<key>titlebarimage</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>titleBarBackGroundImage</string>
	</dict>
	<key>bounces</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>bounces</string>
	</dict>
	<key>defaultAnimationEnabled</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>enableDefaultAnimation</string>
	</dict>
	<key>scrollDirection</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>int_name</key>
		<string>scrollDirection</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
	</dict>
	<key>WidgetConfigKeyMappings</key>
	<dict>
		<key>splitReferenceType</key>
		<string>splitReferenceType</string>
		<key>splitReferencePoint</key>
		<string>splitReferencePoint</string>
		<key>splitTransitionConfig</key>
		<string>splitTransitionConfig</string>
		<key>equalTransitionSpeed</key>
		<string>equalTransitionSpeed</string>
		<key>transitionCurve</key>
		<string>transitionCurve</string>
		<key>transitionDuration</key>
		<string>transitionDuration</string>
		<key>transitionEffect</key>
		<string>transitionEffect</string>
		<key>transitionDirection</key>
		<string>transitionDirection</string>
		<key>renderTitleText</key>
		<string>renderTitleText</string>
		<key>titleBarRightSideView</key>
		<string>titleBarRightSideView</string>
		<key>labelLeftSideView</key>
		<string>labelLeftSideView</string>
		<key>labelRightSideView</key>
		<string>labelRightSideView</string>
		<key>closureRightSideView</key>
		<string>closureRightSideView</string>
		<key>titleBarLeftSideView</key>
		<string>titleBarLeftSideView</string>
		<key>closureLeftSideView</key>
		<string>closureLeftSideView</string>
		<key>imageRightSideView</key>
		<string>imageRightSideView</string>
		<key>imageLeftSideView</key>
		<string>imageLeftSideView</string>
		<key>prevFormTitle</key>
		<string>prevFormTitle</string>
		<key>onReachingBegining</key>
		<string>onReachingBegining</string>
		<key>onReachingEnd</key>
		<string>onReachingEnd</string>
		<key>onPull</key>
		<string>onPull</string>
		<key>onPush</key>
		<string>onPush</string>
	</dict>
	<key>appMenuOverlap</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean,JSNumber</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>appMenuOverlap</string>
	</dict>
	<key>leftButtonAccessibilityConfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>leftButtonAccessibilityConfig</string>
	</dict>
	<key>rightButtonAccessibilityConfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>rightButtonAccessibilityConfig</string>
	</dict>
</dict>
</plist>
