<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>onSelection</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onDone</string>
	</dict>
	<key>masterData</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSArray</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>masterData</string>
	</dict>
	<key>masterDataMap</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSArray</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>masterDataMap</string>
	</dict>
	<key>selectedKeyValue</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSArray</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>selectedKeyValue</string>
	</dict>
	<key>selectedKeyValues</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSArray</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>selectedKeyValues</string>
	</dict>
	<key>selectedKey</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>selectedKey</string>
	</dict>
	<key>wheelBackgroundColor</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>wheelBackgroundColor</string>
	</dict>
	<key>selectedKeys</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSArray</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>selectedKeys</string>
	</dict>
	<key>dropDownImage</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>dropDownImage</string>
	</dict>
	<key>viewType</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>viewType</string>
	</dict>
	<key>placeholder</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>placeHolder</string>
	</dict>
	<key>groupCells</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>groupCells</string>
	</dict>
	<key>tickedImage</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>tickedImage</string>
	</dict>
	<key>untickedImage</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>unTickedImage</string>
	</dict>
	<key>multiple</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>multiple</string>
	</dict>
	<key>viewConfig</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>viewConfig</string>
	</dict>
	<key>WidgetConfigKeyMappings</key>
	<dict>
		<key>viewStyle</key>
		<string>viewStyle</string>
		<key>equalSegments</key>
		<string>equalSegments</string>
		<key>toggleViewConfig</key>
		<string>toggleViewConfig</string>
	</dict>
	<key>selectedkeyvalue</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSArray</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>selectedKeyValue</string>
	</dict>
	<key>selectedkeyvalues</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSArray</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>selectedKeyValues</string>
	</dict>
	<key>contentAlignment</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>contentAlignment</string>
	</dict>
</dict>
</plist>
