<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSArray</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSArray</string>
		<key>ext_in_type</key>
		<string>JSArray</string>
		<key>int_name</key>
		<string>galleryData</string>
	</dict>
	<key>selectedIndex</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSIndex</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSIndex</string>
		<key>int_name</key>
		<string>focusedIndex</string>
	</dict>
	<key>selectedItem</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>focusedItem</string>
	</dict>
	<key>imageWhileDownloading</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>imageWhenDownloading</string>
	</dict>
	<key>imageWhenFailed</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>imageWhenFailed</string>
	</dict>
	<key>spaceBetweenImages</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>spaceBetweenImages</string>
	</dict>
	<key>showScrollbars</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>showScrollBars</string>
	</dict>
	<key>referenceWidth</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>referenceWidth</string>
	</dict>
	<key>referenceHeight</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>referenceHeight</string>
	</dict>
	<key>imageScaleMode</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>imageScaleMode</string>
	</dict>
	<key>arrowConfig</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>arrowConfig</string>
	</dict>
	<key>showArrows</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>showArrows</string>
	</dict>
	<key>onSelection</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onSelection</string>
	</dict>
	<key>viewType</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>viewType</string>
	</dict>
	<key>focusSkin</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>focusSkinId</string>
	</dict>
	<key>WidgetConfigKeyMappings</key>
	<dict>
		<key>coverflowConfig</key>
		<string>coverflowConfig</string>
		<key>coverflowAngle</key>
		<string>coverflowAngle</string>
		<key>coverflowDepth</key>
		<string>coverflowDepth</string>
		<key>slotviewConfig</key>
		<string>slotviewConfig</string>
		<key>flingVelocity</key>
		<string>flingVelocity</string>
		<key>flipInterval</key>
		<string>flipInterval</string>
		<key>scrollDistance</key>
		<string>scrollDistance</string>
		<key>stripviewConfig</key>
		<string>stripviewConfig</string>
		<key>enableScrollBounce</key>
		<string>enableScrollBounce</string>
		<key>leftArrowImage</key>
		<string>leftArrowImage</string>
		<key>leftArrowFocusImage</key>
		<string>leftArrowFocusImage</string>
		<key>rightArrowImage</key>
		<string>rightArrowImage</string>
		<key>rightArrowFocusImage</key>
		<string>rightArrowFocusImage</string>
	</dict>
	<key>isCircular</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>isCircular</string>
	</dict>
</dict>
</plist>
