<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>focusedIndex</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSIndex</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSIndex</string>
		<key>int_name</key>
		<string>focusedIndex</string>
	</dict>
	<key>selectedIndex</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSIndex</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSIndex</string>
		<key>int_name</key>
		<string>focusedIndex</string>
	</dict>
	<key>selectedItem</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>focusedItem</string>
	</dict>
	<key>imageWhileDownloading</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>imageWhenDownloading</string>
	</dict>
	<key>imageWhenFailed</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>imageWhenFailed</string>
	</dict>
	<key>spaceBetweenImages</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>spaceBetweenImages</string>
	</dict>
	<key>showArrows</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>showArrows</string>
	</dict>
	<key>onClick</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onSelection</string>
	</dict>
	<key>onSelection</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onSelection</string>
	</dict>
	<key>viewType</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>oldViewType</string>
	</dict>
    <key>view</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>oldViewType</string>
	</dict>
</dict>
</plist>
