<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pasteboardType</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>pasteboardType</string>
	</dict>
	<key>text</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString,JSNumber</string>
		<key>int_name</key>
		<string>text</string>
	</dict>
	<key>maxTextLength</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>maxTextLength</string>
	</dict>
	<key>textinputmode</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>textInputMode</string>
	</dict>
	<key>secureTextEntry</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean,JSNumber</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>secureTextEntry</string>
	</dict>
	<key>autoCapitalizationType</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>autoCapitalizationType</string>
	</dict>
	<key>pasteboardtype</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>pasteboardType</string>
	</dict>
	<key>ondone</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onDoneCallback</string>
	</dict>
	<key>onDone</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onDoneCallback</string>
	</dict>
	<key>ontextchange</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onTextChangeCallback</string>
	</dict>
	<key>onTextChange</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onTextChangeCallback</string>
	</dict>
	<key>placeholder</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>placeholder</string>
	</dict>
	<key>keyBoardType</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>keyBoardType</string>
	</dict>
	<key>showprogressindicator</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>showProgressIndicator</string>
	</dict>
	<key>needsNPIon</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>int_name</key>
		<string>needsNPIon</string>
	</dict>
	<key>needsnpion</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>needsNPIon</string>
	</dict>
	<key>autocorrect</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean,JSNumber</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>autoCorrect</string>
	</dict>
	<key>view</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>view</string>
	</dict>
	<key>onbeginediting</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onBeginEditing</string>
	</dict>
	<key>onBeginEditing</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onBeginEditing</string>
	</dict>
	<key>onendediting</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onEndEditing</string>
	</dict>
	<key>onEndEditing</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onEndEditing</string>
	</dict>
	<key>labelForDisplayInKeyBoard</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>labelForDisplayInKeyboard</string>
	</dict>
	<key>leftview</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>leftViewImage</string>
	</dict>
	<key>LeftView</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>leftViewImage</string>
	</dict>
	<key>closebuttontext</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>closeButtonText</string>
	</dict>
	<key>clearButton</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean,JSNumber</string>
		<key>int_name</key>
		<string>showClearButton</string>
	</dict>
	<key>closeButtonRequired</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean,JSNumber</string>
		<key>int_name</key>
		<string>showCloseButton</string>
	</dict>
	<key>depricatedmode</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean,JSNumber</string>
		<key>int_name</key>
		<string>depricatedMode</string>
	</dict>
	<key>defaultLook</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean,JSNumber</string>
		<key>int_name</key>
		<string>defaultLook</string>
	</dict>
	<key>contentAlignment</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>contentAlignment</string>
	</dict>
	<key>textInputMode</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>textInputMode</string>
	</dict>
	<key>labelfordisplayinkeyboard</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>labelForDisplayInKeyboard</string>
	</dict>
</dict>
</plist>
