<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString, JSNumber</string>
		<key>int_name</key>
		<string>text</string>
	</dict>
	<key>maxTextLength</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>maxTextLength</string>
	</dict>
	<key>textInputMode</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>textInputMode</string>
	</dict>
	<key>autoCapitalize</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>autoCapitalize</string>
	</dict>
	<key>pasteboardType</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>pasteboardType</string>
	</dict>
	<key>onDone</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onDoneCallback</string>
	</dict>
	<key>onTextChange</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onTextChangeCallback</string>
	</dict>
	<key>placeholder</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>placeholder</string>
	</dict>
	<key>keyBoardStyle</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>keyboardStyle</string>
	</dict>
	<key>showProgressIndicator</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>showProgressIndicator</string>
	</dict>
	<key>secureTextEntry</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean,JSNumber</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>secureTextEntry</string>
	</dict>
	<key>autoCorrect</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean,JSNumber</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>autoCorrect</string>
	</dict>
	<key>showCloseButton</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>showCloseButton</string>
	</dict>
	<key>contentAlignment</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>contentAlignment</string>
	</dict>
	<key>onBeginEditing</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onBeginEditing</string>
	</dict>
	<key>onEndEditing</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onEndEditing</string>
	</dict>
	<key>keyboardActionLabel</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>keyboardActionLabel</string>
	</dict>
	<key>numberOfVisibleLines</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>numberOfVisibleLines</string>
	</dict>
	<key>closeButtonText</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>closeButtonText</string>
	</dict>
	<key>depricatedMode</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>depricatedMode</string>
	</dict>
	<key>editable</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>editable</string>
	</dict>
	<key>inputmode</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>textInputMode</string>
	</dict>
	<key>closeButtonRequired</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>showCloseButton</string>
	</dict>
</dict>
</plist>
